language: python
python:
  - "2.7"
install:                                                                                                                                                                                                                            
  - pip install numpy                                                                                                                                                                                                               
  - pip install matplotlib
script:
  - "python simulatedAnnealingFinal.py"
